<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>
</head>
  <body>

 
 	<form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
   <input class = "btn" type="file" name="myFile" />
  <button class="btn">Upload a file</button>
   </form>
   	<br><br>
   	 	<button class="btn" disable><i class="fa fa-download"></i> Download</button>

  </body>
</html>

